body
{
	font-size: 1em;
}

#logo
{
	margin-right: 10px;
	float: left;
}

#sms
{
	padding-top: 5px;
}

#table 
{
	clear: both;
}

h2
{
	margin: 0;
	font-size: 1.2em;
}

p
{
	margin-top: 0;
	margin-bottom: 0.5em;
}